@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
  padding: 0px;
  margin: 0px;
  /* text-align: center; */
}

nav {
  background-color: rgba(0, 0, 0, 0.8);
}

.page-head {
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page-background {
  background-image: url(../imgs/kol11.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.add {
    padding-top: 20px;
  padding-bottom: 7%;
}

.btn-color {
  background-color: #15304b;
  color: white;
  margin-top: 25px;
}

.btn-color:hover {
  color: rgb(38, 139, 233);
  color: white;
}

.sec-three {
  padding-top: 25px;
  background-image: url(../imgs/koll.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 0 35px 0;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

.sec-three p {
  font-size: 40px;
  color: white;
  margin-bottom: 50px;
}

.pad {
  padding-top: 20px;
}

.form {
  padding: 25px 0 25px 0;
}

.btn-size {
  padding-top: 2px;
  background-color: #15304b;
  width: 200px;
  height: 40px;
}

.background-about-us {
    padding-top: 20px;
  padding-bottom: 15px;
  height: 100%;
  background-image: url(../imgs/koll.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-about-us p {
  color: white;
}

.about-us-word {
  font-size: 30px;
}

.description {
  font-size: 20px;
  padding-bottom: 60px;
  padding-top: 25px;
}

.brand {
  font-weight: 600;
}

@media (max-width: 992px) {
  .page-head {
    visibility: hidden;
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
}